h1{
  font-weight: bold;
  color: green;
  float: left;
}
#main_img{
  float: right;
  width: 100px;
  height: 100px;
}
#userInput{
  margin: 5px;
}
#userBtn{
  margin: 20px 5px 5px 5px;
}
.userdetails{
  color: blue;
  width: 500px;
  height: 500px;
}
