<!DOCTYPE html>
{% extends "Level_Up_App\base.html" %}
{% load static %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h2>Level Up! Chat assistant</h2>
    </div>
    <div>
      <label for="apiid">Enter Dialogflow Web Demo Agent ID:</label>
      <input type="text" id="apiid" placeholder="Enter agent ID here"/><br>
      <input type="button" value="Load Level Up! Chat Assistant" onClick="updateID()"/><br>
    </div>
    <div class="chatbot">
      <iframe
        allow="microphone"
        id="chatbotframe"
        src=""
        width="100%"
        height="600"></iframe>
    </div>
  </div>
{% endblock %}
