<!DOCTYPE html>
{% extends "Level_Up_App\base.html" %}
{% load static %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
    <h2>Choose Career End Point</h2>
  </div>
  <h4>Please choose one of the career end point which suits you.</h4><br>
  <form class="chooseendpoint" action="" method="post">
    <button type="Submit" name="endptbtn1"  style="width:800px">{{endpoint1}}</button>
    <button type="Submit" name="endptbtn2"  style="width:800px">{{endpoint2}}</button>
    <button type="Submit" name="endptbtn3"  style="width:800px">{{endpoint3}}</button>
  </form>
</div>
{% endblock %}
