<!DOCTYPE html>
{% extends "Level_Up_App\base.html" %}
{% load static %}
{% block body_block %}
  <div class="row bg-white text-dark d-flex justify-content-center">
    <div class="col">
      <p><h1 class='text-center text-warning'>Choose Career End Point</h1></p>
      <p><h4 class="text-center">Dear {{username}}, please choose one of the career end point which suits you.</h4></p>
    </div>
  </div>
  <div class="row bg-white text-dark d-flex justify-content-center">
    <div class="btn-group">
    <form class="chooseendpoint" action="" method="post">
      <button type="Submit" name="endptbtn1"  style="width:800px" class="btn btn-light p-3 btn-block">{{endpoint1}}</button><br>
      <button type="Submit" name="endptbtn2"  style="width:800px" class="btn btn-light p-3 btn-block">{{endpoint2}}</button><br>
      <button type="Submit" name="endptbtn3"  style="width:800px" class="btn btn-light p-3 btn-block">{{endpoint3}}</button><br>
    </form>
    </div>
  </div>
{% endblock %}
