<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Level Up!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "Level_Up_App/css/index.css" %}"/>
  </head>
  <body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Level Up!</a>
    </div>
    <div class="container">
      <div class="jumbotron">

        <h1>Welcome to Level Up!</h1>
        <img src="{% static "Level_Up_App/images/career_roadmap.jpg" %}" alt="Opps!" style="width:50px;height:50px">
      </div>
      <form class="username" action="" method="post">
        <p>Please enter your name to get started:</p>
        <input id="userInput" type="text" name="user" placeholder="Your Name Here"><br>
        <button id="userBtn" type="button" class="btn btn-primary" name="button">Let's Go!</button>
      </form>
    </div>
  </body>
</html>
