<!DOCTYPE html>
{% extends "Level_Up_App\base.html" %}
{% load static %}
{% block body_block %}
{% load widget_tweaks %}
  <div class="row bg-white text-dark d-flex justify-content-center">
    <div class="col">
      <p><h1 class='text-center text-warning'>Welcome!</h1></p>
      <blockquote class="blockquote text-center">
        <p><h4>Level Up is your personal career recommendation agent.</h4></p>
        <p><h5>To begin, start by entering your name below.</h5></p>
      </blockquote>
    </div>
  </div>
  <div class="row bg-white text-dark d-flex justify-content-center">
    <div class="form-label-group row">
      {% if userForm.errors %}
          <strong>{{ error|escape }}</strong>
      {% endif %}
    
      <form class="index" method="post" action="">
        {% csrf_token %}
        {% comment %} {{ userForm.as_p }} {% endcomment %}
        {% for hidden in userForm.hidden_fields %}
          {{ hidden }}
        {% endfor %}

        {% for field in userForm.visible_fields %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:'form-control' }}
            {% for error in field.errors %}
              <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
        {% endfor %}


        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Let's Go!">
      </form>
    </div>
  </div>
{% endblock %}
