<!DOCTYPE html>
{% extends "Level_Up_App\base.html" %}
{% load static %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
    <h2>Job Recommendations</h2>
  </div>
  <div class="jobrecommend">
    {% if jobs %}
      <table class='recommendtable table table-striped table-bordered table-sm'>
        <thead>
          <tr>
            <th>Title</th>
            <th>Education Level</th>
            <th>Company</th>
            <th>Min Salary</th>
            <th>Max Salary</th>
            <th>URL</th>
          </tr>
        </thead>
        <tbody>
          {% for job in jobs %}
            <tr>
              <td>{{job.title}}</td>
              <td>{{job.eduLvl}}</td>
              <td>{{job.company}}</td>
              <td>{{job.minSalary}}</td>
              <td>{{job.maxSalary}}</td>
              <td><a href="{{course.URL}}">Job Link</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <h3>Sorry! No job recommendation available!</h3>
    {% endif %}
  </div>
</div>
{% endblock %}
