<!DOCTYPE html>
{% extends "Level_Up_App/base.html" %}
{% load static %}
{% block body_block %}
{% load widget_tweaks %}
  <div class="row bg-white text-dark d-flex justify-content-center">
    <div class="col">
      <p><h1 class='text-center text-warning'>User Details</h1></p>
      <p><h4 class="text-center">Dear {{username}}, please fill in your details below</h4></p>
    </div>
  </div>
  <div class="row bg-white text-dark d-flex justify-content-center">
    <div class="form-label-group row">
      <form class="questionaire" method="post" action="">
        {% csrf_token %}
        {% comment %} {{ questionaire.as_p }} {% endcomment %}
        
        {% for hidden in questionaire.hidden_fields %}
          {{ hidden }}
        {% endfor %}

        {% for field in questionaire.visible_fields %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:'form-control' }}
            {% for error in field.errors %}
              <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
        {% endfor %}
        
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit">
      </form>
    </div>
  </div>
{% endblock %}
