# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
certifi=2019.6.16=py36_1
django=2.2.4=py36_0
experta=1.9.1=pypi_0
frozendict=1.2=pypi_0
pip=19.2.2=py36_0
python=3.6.9=h5500b2f_0
pytz=2019.2=py_0
schema=0.6.7=pypi_0
setuptools=41.0.1=py36_0
sqlite=3.29.0=he774522_0
sqlparse=0.3.0=py_0
vc=14.1=h0510ff6_4
vs2015_runtime=14.15.26706=h3a45250_4
wheel=0.33.4=py36_0
wincertstore=0.2=py36h7fe50ca_0
